<div class="crear-curso-container">
  <h2>Crear Curso</h2>
  <form  class="crear-curso-form">
    <label for="nombre">Nombre:</label>
    <input id="nombre" formControlName="nombre" />

    <label for="descripcion">Descripción:</label>
    <input id="descripcion" formControlName="descripcion" />

    <label for="profesor">Profesor:</label>
    <input id="profesor" formControlName="profesor" />

    <label for="duracion">Duración (horas):</label>
    <input id="duracion" type="number" formControlName="duracion" />

    <label for="fechaInicio">Fecha de inicio:</label>
    <input id="fechaInicio" type="date" formControlName="fechaInicio" />

    <label for="categoria">Categoría:</label>
    <input id="categoria" formControlName="categoria" />

    <button type="submit">Crear</button>
  </form>
</div>
